:root {
  --font: font-family: 'Sora', sans-serif;


  
}

body, section, div, i, input, button, p{
  
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  letter-spacing: -.3px;
  
  
}

.menu{
  display: flex;
  
  justify-content: center;
  
}

/* #video-bg{
  width: 100%;
  height: 100%;
} */


/* #video-box{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  
  border-radius: 15px;

 
  top: 50% !important;

  left: 50% !important;
  transform: translate(-50%, -50%) !important ;
  

 
  
} */

.box{
  position: absolute;
  

  padding: 60px 35px;

  padding-bottom: 35px;
  
  z-index: 1;
  background-image: url(./imagens/background-cadastro-80.jpg) ;

  
  
  
  background-position: center center;
  

  

  max-width: 25.44%;
  min-width: 350px;
  min-height: 300px;

  /*max-height: 75%;*/
  
  border-radius: 25px;

  display: inline-block;
  vertical-align: center;
  

  top: 50% !important;
  /* transform: translateY(-50%); */
  left: 50% !important;
  transform: translate(-50%, -50%) !important ;

}

@media (max-width:780px) {
  .box {
    position: fixed;
    top: 50% !important;
  
    left: 50% !important;
    transform: translate(-50%, -50%) !important ;

  }
}

.box::before{
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, .7);
  backdrop-filter: blur(15px);
  border-radius: 25px;
}

 .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgb(0, 0, 0,.7);
  background-image: url(./imagens/background-cadastro-80.jpg) ;
  
  background-position: center center;
  background-blend-mode: multiply;
}


button, input {
  border-radius: 25px;
  border: 0;
  

}



h1 {
  font-family: 'Sora', sans-serif;
  padding-top: 1.45rem;
  font-size: 1.6rem;
  letter-spacing: -1px;
  font-weight: 600;
  margin-bottom: -.2rem;
  color: #4b4b4b;
  
}

.titulo svg{
  
  position: absolute;
  top: 45px;
  left: 37px;
  height: 3rem;
  width: 6rem;
  
}




a{
  color: rgb(0, 204, 255);
  font-weight: bold;
}



.sub-titulo{
  font-size: .67rem;
  padding-top: 05px;
  padding-left: 2px;

}

container .centralizar{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}



.botoes-social {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-around;
  
}

.iconApp {
  justify-content: space-between;
  background-color: rgb(233, 233, 233);
  border: 0;
  width: 125px;
  height: 40px;
  
  
}

#login .area-input{
  max-height: 100px;
}

.area-input{
  
  max-width: 280px;
 
 
}

.input {
  width: 280px;
  height: 2.4rem;
  padding-left: 1rem;
  border: 1px solid rgb(228, 228, 228);
  
}

.input-espacamento {
  margin-bottom: .75rem;
}





.botao-azul {
  width: 100%;
  height: 2.4rem;
  background-color: rgb(25, 209, 233);
  box-shadow: 0px 5px 5px rgb(199, 199, 199, .9  ) ;
}

.botao-azul:hover {
  background-color: rgb(25, 157, 233);
}

.manter-conexao {
 
  padding-top: 5px;
  padding-bottom: 12px;
  display: flex;
  /* justify-content: space-around; */
  font-weight: bold;

}
.manter-conexao.lgpd{
  padding-bottom: 30px;
}

.manter-conexao p {
  font-size: .8rem;
  padding: 0 .5rem;
}

.sem-divisor p {
  padding-bottom: 10px;
}

.com-divisor {
  display: flex;
}

.com-divisor p {
  padding: 0 10px;
}

.divisor {
  width: 50px;
  border-top: 1px solid rgb(185, 185, 185);
  margin-top: 13px;
  
}



#check-lgpd{
  margin-top: 3px;
}

#check-manter-conectado {
  margin-top: 2px;
}





.FaltaImplementar {
  display: none;
}


.negrito {
  font-weight: bold;
}



/* ================== CADASTRO PRIMEIRO PASSO ================= */



#cadastro #mensagem-erro {
  display: flex;
 color: red;
 font-size: 10px;
 font-weight: bold;
 padding-left: 10px;
 padding-top: 2px;
}
#cadastro #mensagem-erro p {
  margin-top: 1px;
  padding-left: 3px;
}


#cadastro .svg-erro svg {
  width: 12px;
  height: 12px;
}
/*================= Cadastro Segundo Passo =============================*/


.box.cadastro-2 {
  max-width: 30%;
  max-height: 85%;
  
  min-height: 468.75px;


  padding: 40px 30px;
  padding-bottom: 20px ;
  
}

#cadastro-segundo-passo .titulo svg{
  
  height: 1.4rem;
  width: 5rem;

  top: 18px;
  left: 53px;


}
#cadastro-segundo-passo h1{
  padding-top: 0px;
  padding-left: 20px;
  font-size: 1.5rem;
}

#cadastro-segundo-passo .sub-titulo{
  font-size: .75rem;
  padding-left: 20px;
 

}

#cadastro-segundo-passo container.centralizar {
  padding-top: 15px;
  
}

#cadastro-segundo-passo container.centralizar .corrigir-email {
  padding-bottom: 10px;
}

#cadastro-segundo-passo container.centralizar p {
  text-align: center;
  
  font-size: 12px;
  padding-left: 0px;
  padding-right: 0px;

}


.negrito.centralizar{
  padding-top: 0;
}

.centralizar.corrigir-email{
  padding-top: 0;
  padding-bottom: 20px;
}

.centralizar.corrigir-email a {
  font-size: 12px;
}


#cadastro-segundo-passo .com-divisor {
 
  padding-bottom: 15px;
  
 
}

#cadastro-segundo-passo .divisor {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;;
}


#cadastro-segundo-passo .area-input{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#cadastro-segundo-passo .input{
  height: 36px;
  width: 90%;
  margin-bottom: 15px;
}

#cadastro-segundo-passo .botao-azul{
  height: 36px;
  width: 90%;
}


.centralizar.FaltaImplementar {
  display: none;
}



#texto-cpf:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 14px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 250px;
  top: 280px;
  left: 320px;
  
}




input.input#cpf{
  margin-bottom: 2px;
}

#texto-cpf{
  padding-left: 8rem;
  color: rgb(75, 75, 75);
  font-size: 10px;
  padding-bottom: 5px;
}


#lgpd-login{

  position: relative;
  display: flex;

  padding: 0;
  
  z-index: 2;
  top: 60px;

  font-size: 10px;

  justify-content: space-around;
}
@media (max-width:500px) {
  #lgpd-login {
    top: 90px;
  }
}  

#lgpd-login.FaltaImplementar{
  display: none;
}


#link-wpp{

  position: relative;
  display: flex;

  padding: 0;
  
  z-index: 2;
  top: 60px;

  font-size: 10px;

  justify-content: center;
}
@media (max-width:500px) {
  #link-wpp {
    top: 90px;
  }
}  

#link-wpp p {
  color: aqua;
  padding-right: 4px;

}

#link-wpp.FaltaImplementar{
  display: none;
}






#icon-senha {
  
  position: relative;
  top: -45px;
  left: 85%;
}

#icon-senha svg{
  width: 1.4rem;
  height: 1.4rem;
}

/*========================== RECUPERAR SENHA===========*/

.titulo.centralizar{
  padding: 0;
}

#recuperar-senha h1 {
  padding: 0;
}

#recuperar-senha .area-input{
  margin-bottom: 10px;
  margin-top: 10px;
}

#recuperar-senha #email-recuperar-senha {
  width: 280px;
}




/* =================  RECUPERAR SENHA FINAL ======================== */

#recuperar-senha-final .titulo-svg svg {
  position: static;
  display: block;
  width: 139.05px;
  height: 125.57px;
}

#recuperar-senha-final .botao-azul{
  margin: 20px 0;
}

#recuperar-senha-final {
  max-width: 320px;
}


/*=========================  CADASTRO FINALIZADO ==================== */

#cadastro-terceiro-passo .titulo-svg svg  {
  position: static;
  width: 139.05px;
  height: 125.57px;
  padding-left: 30px;
}

#cadastro-terceiro-passo p {
  
  text-align: center;
}


#cadastro-terceiro-passo .botao-azul{
  margin: 20px 0;
}


#cadastro-terceiro-passo {
  max-width: 320px;
}


/* ============================ MENSAGEM DE ERRO LOGIN ==================== */

.svg-erro svg {
  width: 12px;
  height: 12px;
  margin-top: -2px;
  padding-right: 2px;
}

.mensagem-erro{
  position: relative;
  display: flex;
  top: -10px;
  left: 0;

  color: red;
  font-size: 08px;
}
#email-login-erro.FaltaImplementar{
  display: none;
}

#senha-login-erro.FaltaImplementar{
  display: none;
}

#senha-login-erro {
  position: relative;
  display: flex;
  top: -35px;
  left: 0;
  
}

#login .manter-conexao{
  margin-top: 25px;
}
/* ================ MENSAGEM DE ERRO CADASTRO 1 ==================== */



#cadastro #mensagem-erro.FaltaImplementar{
  display: none;
}



/* =========== MENSAGEM DE ERRO CADASTRO 2 PASSO ================== */

#cadastro-segundo-passo .mensagem-erro {
  position: relative;
  display: inline-flex;
  padding: 0;
  top: -15px;
  left: -70px;
  
}

#cadastro-segundo-passo .mensagem-erro.FaltaImplementar {
display: none;
}

#cadastro-segundo-passo svg{
  margin-top: -2px;
}

#nome-completo-cadastro, #cpf-cadastro, #telefone-cadastro, #senha-acesso-cadastro{
  font-size: 10px;
}


div#cpf-cadastro.FaltaImplementar, div#telefone-cadastro.FaltaImplementar, div#senha-acesso-cadastro.FaltaImplementar {
  display: none;
  
}

#cpf-cadastro.mensagem-erro {
  padding-left: 30px;
}

#cadastro-segundo-passo .area-input div#nome-completo-cadastro.mensagem-erro{
  margin-left: 30px ;
}
/* =========== MENSAGEM DE ERRO RECUPERAR SENHA ================== */

#recuperar-senha-erro{
 top:-5px;
 left: 10px;
 font-size: 12px;
}

#recuperar-senha-erro.FaltaImplementar{
  display: none;

}